body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  header{
    background-color: #39EBB7;
    display: flex;
    justify-content: space-between;
    height: 130px;
    padding: 10px;
  }
  img{
    width: 101px;
    height: 101px;
  } 
  /* ---------------------------------------------------------- */
  .logo{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button-div{
    height: 130px;
    width:130px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 50px;
  }
  .btn-historico {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  .btn-historico:hover {
    background-color: #45a049;
  }
  .data-container {
    display: flex;
    gap: 60px;
  }
  .sensor-data {
    margin-top: 40px;
    width: 45%;
    height: 120px;
    background-color: #f9f9f9;
    border-radius: 20px;
  }
  .sensor-data h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  #temperature, #flow {
    font-size: 24px;
    text-align: center;
  }
  /* ---------------------------------------------------------- */
  .container-all{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 30px;
  }
  .grafic1{
    background-color: #f9f9f9;
    width: 45%;
    height: 200px;
    border-radius: 20px;
  }
  .grafic2{
    background-color:#f9f9f9;
    width: 45%;
    height: 200px;
    border-radius: 20px;
  }
  .status{
    background-color: #B1EAC2;
    width: 250px;
    height: 200px;
    border-radius: 20px;
  }
  .div-grafic{
    display: flex;
    gap: 60px;
  }
  .teste-div{
    width: 250px;
    height: 200px;
    background-color: #B1EAC2;
    border-radius: 20px;
  }
  .sec-info{
    background-color: #B1EAC2;
    padding: 20px;
    border-radius: 20px;
  }
  .sec-status{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 200px;
  }